Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database is a place or memmory where we can store our data for various purposes. Here data can be manipulated according to the needs. All full fledge applications take advantages of different types of databases to store and retrieve their data.

SQL: SQL stands for Structured querry language. This is used to communicate with structured databases or files. It usually have rows and columns format where data is stored in an organised manner and different operations can be performed on that.

NoSQL: This stands for Not only SQL. This does not have have a structured architecture instead, they use various data models, such as key-value pairs, document-oriented, columnar, or graph-based models, to store and organize data.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL used to define and manage the structure of a database.

CREATE: Used to create a new database object. For example, CREATE TABLE is used to create a new table.

DROP: Used to delete a database object. For example, DROP TABLE is used to delete a table.

ALTER: Used to modify the structure of an existing database object. For example, ALTER TABLE is used to add or remove columns from a table.

TRUNCATE: Used to remove all the data from a table, while keeping its structure intact. For example, TRUNCATE TABLE removes all rows from a table.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a subset of SQL used to manipulate data within database objects.

INSERT: Used to insert new records into a table. For example, 
        
        INSERT INTO Employees (ID, Name, Age) VALUES (1, 'John', 25); 
        
        inserts a new row into the "Employees" table.

UPDATE: Used to modify existing records in a table. For example, 

        UPDATE Employees SET Age = 26 WHERE ID = 1; 
        
        updates the age of the employee with ID 1 to 26.

DELETE: Used to delete records from a table. 
        
        For example, DELETE FROM Employees WHERE ID = 1; 
        
        deletes the row from the "Employees" table where the ID is 1.

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a subset of SQL used to retrieve data from a database.

SELECT: Used to retrieve data from one or more tables. For example, 

        SELECT * FROM Employees; 
        
        retrieves all rows and columns from the "Employees" table.

Q5. Explain Primary Key and Foreign Key.

Primary Key: A primary key is a column or a set of columns that uniquely identifies each record in a table. It ensures the uniqueness and integrity of the data. Only one primary key can exist in a table. For example, in an "Employees" table, the "ID" column can be designated as the primary key.

Foreign Key: A foreign key is a column or a set of columns in a table that refers to the primary key of another table. It establishes a relationship between two tables. It enforces referential integrity and maintains data consistency. For example, in a "Orders" table, the "EmployeeID" column can be a foreign key that refers to the "ID" column in the "Employees" table.

Q6. Write a Python code to connect MySQL to Python. Explain the cursor() and execute()

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="your_username",
  password="your_password"
)

cursor = mydb.cursor()

cursor.execute("SELECT * FROM employees")

result = cursor.fetchall()

for row in result:
  print(row)

cursor.close()
mydb.close()

The cursor() method creates a cursor object that allows us to execute SQL queries and fetch the results.

Using the execute() method, we execute an SQL query. In this example, we retrieve all the rows from the "employees" table.